#clients {
    
    
    background-color: #D6E7EE;
    padding: 40px 0px;
    margin: 0;
    padding-bottom: 7rem;
    /* border-top: 1px solid #f3f3f3;  */
    /* border-bottom: 1px solid #f3f3f3; */
}

.client-cont {
    margin: 0;
    background-color: #D6E7EE;
}

.client-heading h3 {
    font-size: 2rem;
    color: #04132e;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.client-box-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin-top: 40px;
}

.client-box {
    background-color: aliceblue;
    padding: 30px 20px;
    border: 1px solid #f1f1f1;
    box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.05);
    border-radius: 0px 30px 0px 30px;
    height: 22rem;
    color: #001B48;
}

.client-info {
    color: #001B48;
}

.client-profile {
    display: flex;
    align-items: center;

}

.client-profile img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.clientprofile-text {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.clientprofile-text strong {
    font-size: 1.5rem;
    font-weight: 600;
    color: #001B48;
}

.clientprofile-text span {
    color: rgb(142, 175, 185);
    font-weight: 500;
    font-size: 1.1rem;

}

.clientrating {
    display: flex;
    margin: 10px 0px;
}

.clientrating .bs {
    color: #fdcc0d;
    font-size: 1.7rem;
    margin: 1px;
}

.client-box p {
    color: #001B48;
    text-align: justify;
    width: 400px;
    font-size: 20px;
    padding-left: 4px;
}