.login {
  max-width: 100vw;
  height: 100vh;
  display: flex;
  font-family: 'Roboto Slab', serif;
}

.login-image {
  position: relative;
  width: 65vw;
  height: 100vh;
  overflow: hidden;
}

.login-image-abs {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.login-desc {
  position: relative;
  width: 40%;
  height: 100vh;
}

.login-desc-head {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 5%;
  padding-left: 3rem;
}

.login-desc-head .login-primary {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.13rem;
}

.login-desc-head .login-secondary {
  font-size: 1.2rem;
  font-weight: 300;
  opacity: 0.6;
}

.login-inputs {
  position: absolute;
  top: 16%;
  padding-left: 3rem;
}

.login-element {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.login-element>label {
  font-size: 1.8rem;
  padding-bottom: 1rem;
}

.login-element-input {
  width: 30rem;
  border: 0;
  transition: all 0.3s;
  border-bottom: 3px solid #000;
  font-size: 1.5rem;
  padding: 1rem;
  background-color: #00000008;
}

.login-element-input:active,
.login-element-input:focus {
  outline: none;
}

.btn2 {
  padding: 8px 25px;
  border: 0;
  color: #fff;
  border-radius: 0.3rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.btn-primary {
  background-color: #3687ff;
  transition: all 0.3s;
}

.btn-primary:hover {
  background-color: #0066ff;
}

.login-footer {
  position: absolute;
  font-size: 1.4rem;
  bottom: 2%;
  left: 40%;
  top: 89%;
  transform: translateX(-50%);
}

.dropdown {
  padding: 0.31rem;
}