@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;

}

#aboutimage-container {
    max-width: 100%;
    height: 600px;
    position: relative;
    border: 2px 2px 1px 2px solid #001B48;
}

#aboutimage-container img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: left;
}

.aboutaboutus-textdiv {
    position: absolute;
    left: 100px;
    top: 200px;
    display: inline-block;
    width: 300px;
    color: #D6E7EE;
    font-size: 20px;
}

.aboutaboutus-textdiv h1 {
    text-align: center;
    margin: 0px 0px 20px 0px;
    padding: 0px;
    font-size: 2.7rem;
}

.aboutaboutus-textdiv h2 {
    text-align: center;
    margin: 0px 0px 10px 0px;
    padding: 0px;
}

.aboutaboutus-text {
    margin: 0px;
    position: relative;
    border: 1px 2px 2px 2px solid #001B48;
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    padding: 60px 50px;
    background-color: #D6E7EE;
    color: #001B48;
    box-shadow: 1px 1px 9px 2px #6fc3e7 inset;
}

.aboutmission-container {
    height: 550px;
    position: relative;
}

.aboutmission-container img {
    height: 550px;
    width: 100%;
    object-fit: fill;
}

.aboutmission-contain {
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 80px;
    position: absolute;
    top: 0px;
    box-shadow: 1px 1px 9px 2px #395171 inset;
}

.aboutmission-question {
    flex: 1 2 0;
    text-align: center;
    position: relative;
    top: 50px;
    left: 30px;
    color: #001B48
}

.aboutmission-div {
    flex: 1 2 0;
    text-align: center;
    height: 300px;
    width: 600px;
    font-size: 20px;
    background-color: #001B48;
    color: #D6E7EE;
    padding: 20px;
    border-radius: 20px 100px 20px 100px;
    box-shadow: 1px 1px 9px 3px #1b2e4f;
}

.aboutoffer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding: 6.5rem;
    background-color: #D6E7EE;
    color: #001B48;
    box-shadow: 1px 1px 9px 2px #84a8b7 inset;
}

.aboutoffer-div1 {
    flex: 2 1 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 75px;
}

.aboutoffers {
    height: 250px;
    width: 450px;
    border-radius: 30px 80px 30px 30px;
    padding: 2rem;
    background-color: #afdaed;
    text-align: center;
    box-shadow: 1px 1px 12px 3px #293a58;
}

.aboutoffers h2 {
    font-weight: 700;
}

.aboutoffers p {
    font-weight: 500;
}

.aboutoffer-div2 {
    flex: 1 1 0;
    font-weight: bolder;
    text-align: center;

}

.aboutoffer-div2 h1 {
    font-size: 3.3rem;
}