@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.startup-container {
    max-width: 100%;
    height: 300px;
    padding: 20px;
    display: flex;
    ;
    justify-content: center;
    align-items: center;
    background-color: #255FA9;
    box-shadow: 1px 1px 9px 3px #03171f inset;
}

.startup-contain {
    text-align: center;
    width: 1000px;
}

.startup-contain h1 {
    padding: 0px;
    color: white;
    margin: 0px 0px 20px 0px;
}

.startup-contain button {
    color: #001B48;
    padding: 15px 30px 15px 30px;
    background-color: #7fcced;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 9px 2px #3893ba;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}

.startup-contain button:hover {
    background-color: #45b6e7;
}

.startup-contain a {
    text-decoration: none;
    color: #03345c;
}

.startup-features-container {
    height: 350px;
    box-shadow: 1px 1px 9px 4px #03171f inset;
    position: relative;
    background-color: #8fc0f5;
}

.startup-heading {
    margin: 0px;
    padding: 30px 0px 0px 0px;
    ;
    text-align: center;
    color: #001B48;
}

.features-contain {
    display: flex;
    padding: 20px 50px 20px 50px;
    gap: 50px;
}

.startup-feature1 {
    background-color: rgb(171, 212, 248);
    padding: 0px 20px 0px 20px;
    text-align: center;
    border-radius: 10px 40px 10px 40px;
    color: #001B48;
    ;
    box-shadow: 1px 1px 9px 2px #001B48;
}

.startup-feature2 {
    background-color: rgb(171, 212, 248);
    padding: 0px 20px 0px 20px;
    text-align: center;
    border-radius: 10px 40px 10px 40px;
    color: #001B48;
    ;
    box-shadow: 1px 1px 9px 2px #001B48;
    position: relative;
    top: 100px;
}

.startup-feature3 {
    background-color: rgb(171, 212, 248);
    padding: 0px 20px 0px 20px;
    text-align: center;
    border-radius: 10px 40px 10px 40px;
    color: #001B48;
    ;
    box-shadow: 1px 1px 9px 2px #001B48;
}

.startup-img-contain {
    height: 300px;

    position: relative;
}

.startup-img {
    width: 100%;
    height: 300px;
    object-fit: fill;
    z-index: -1;

}

.startup-img-contain h1 {
    position: relative;
    bottom: 200px;
    text-align: center;
    color: #001B48;
}